{% extends "bootstrap/base.html" %}
{% from "layouts.html" import navbar %}
{% from "layouts.html" import sidebar %}
{% from "graphs.html" import addons %}
{% from "graphs.html" import lines %}
{% from "graphs.html" import bars %}

{% block title %}
Analytics
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block scripts %}

{% endblock %}

{% block navbar %}
{{ navbar() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
      {{ sidebar() }}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Analytics</h1>
          <div class="row placeholders">
            {{ addons() }}
            <div class="col-sm-6">
              {{ bars() }}
            </div>
            <div class="col-sm-6">
              {{ lines() }}
            </div>
          </div>
          <h2 class="sub-header">Top Buyers</h2>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
    </div>
{% endblock %}